<header>
      <%- include('personal-nav', { member }) %>
  <% if (locals.showLogo) { %>
      <h1 class="logo">
        <a href="/">
          <img src="https://design.thefifthworld.com/v1/1/0/img/wordmark.black.svg" alt="The Fifth World" />
        </a>
      </h1>
  <% } %>
    </header>
