<header>
      <%- include('personal-nav', { member }) %>
  <% if (locals.showLogo) { %>
      <h1 class="logo">
        <a href="/">
          <img src="https://thefifthworld.s3.us-east-2.stackpathstorage.com/design/img/wordmark.black.svg" alt="The Fifth World" />
        </a>
      </h1>
    </header>
<% } %>
