<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { meta }) %>
  <body class="thefifthworld">
    <%- include('includes/header', { member }) %>
    <main>
      <h1>Dashboard</h1>
    </main>
    <nav class="site">
      <ul>
        <li class="explore"><a href="/explore">Explore</a></li>
        <li class="hear"><a href="/stories">Hear</a></li>
        <li class="see"><a href="/art">See</a></li>
        <li class="play"><a href="/play">Play</a></li>
      </ul>
    </nav>
    <footer>
      <p><em>The Fifth World</em> exists thanks to the generosity of our supporters, partners, and friends on Patreon. <a href="https://www.patreon.com/thefifthworld">Would you like to join them and become part of our growing community?</a></p>
      <p class="copyleft">
            <span class="icons">
              <img src="https://s3.amazonaws.com/thefifthworld/website/images/cc.svg" alt="Creative Commons" />
              <img src="https://s3.amazonaws.com/thefifthworld/website/images/by.svg" alt="Attribution" />
              <img src="https://s3.amazonaws.com/thefifthworld/website/images/sa.svg" alt="Share-Alike" />
            </span>
        <em>The Fifth World</em> is licensed under a <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.en_US">Creative Commons Attribution-ShareAlike 4.0 International License</a>.
      </p>
    </footer>
    <script src="https://thefifthworld.s3.us-east-2.stackpathstorage.com/design/v/1/0/0/bundle.js"></script>
  </body>
</html>
