<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { meta }) %>
  <body class="thefifthworld">
    <%- include('includes/header', { member }) %>
    <main>
      <h1>Dashboard</h1>
    </main>
    <nav class="site">
      <ul>
        <li class="explore"><a href="/explore">Explore</a></li>
        <li class="hear"><a href="/stories">Hear</a></li>
        <li class="see"><a href="/art">See</a></li>
        <li class="play"><a href="/play">Play</a></li>
      </ul>
    </nav>
    <%- include('includes/footer') %>
  </body>
</html>
