<!DOCTYPE html>
<html lang="en">
  <%- include('includes/head', { meta }) %>
  <body class="thefifthworld">
  <%- include('includes/header', { member }) %>
  <main>
    <h1>Explore</h1>
    <p><em>Eventually, we&rsquo;ll replace this page with a map, allowing you to begin exploring the Fifth World as we always intended: starting with its places and their stories. In the meantime, you might begin exploring the Fifth World with these:</em></p>
    <section>
      <h2>The world has changed.</h2>
      <p>Humans may not have had the power to change the globe so drastically on our own, but we didn’t really need to. We just needed enough power to start the process. Feedback loops did the rest, including many that we never even recognized before we set them into motion, pushing the world quickly into <a href="/climate"a new equilibrium</a>. Global temperatures have risen dramatically, the ice caps have melted, and the seas have risen 216 feet, carving out new coastlines.</p>
      <p><a href="/about/facts/fact1" class="button">Read more</a></p>
    </section>
    <section>
      <h2>The people of the Fifth World vary as much as the land itself.</h2>
      <p>At its peak, the old world united all of humanity in a single <a href="/civilization">civilization</a>. People could speak of the history of the world as a singular thing, all leading to this moment. The only sensible history of the Fifth World, though, would simply tell the tale of how that single story unraveled back into ten thousand sagas, each one focused on the ties of <a href="/kinship">kinship</a> that bind a particular <a href="/community">community</a> to a particular <a href="/territory">territory</a>, and of their honored <a href="/ancestor">ancestors</a> who rediscovered and renewed those ancient covenants.</p>
      <p><a href="/about/facts/fact2" class="button">Read more</a></p>
    </section>
    <section>
      <h2>The people of the Fifth World don’t think like their ancestors.</h2>
      <p>The diversity of the people of the Fifth World makes it difficult to speak about them generally, since almost anything one can say will have many exceptions. Rather, the most important things to say about them as a group speak not to things they really have in common nearly so much as those points where they differ from their <a href="/domestication">domesticated</a> <a href="/ancestor">ancestors</a>, even on points that might once have seemed like simple “human nature.”</p>
      <p><a href="/about/facts/fact3" class="button">Read more</a></p>
    </section>
    <section>
      <h2>The people who live in it consider the Fifth World paradise.</h2>
      <p>The people of the Fifth World draw life, wisdom, and strength from the <a href="/territory">lands</a> they dwell in. Some consider the land a lover, and the hunt a matter of seduction. For others, the land mothers them, providing all they want or need freely. Many tell an ancient story of how the first humans dwelled in paradise, and how they committed some terrible sin that resulted in their exile, and how their heroic <a href="/ancestor">ancestors</a> found their way back to restore their birthright.</p>
      <p><a href="/about/facts/fact4" class="button">Read more</a></p>
    </section>
    <section>
      <h2>Everyone carries some sacred mission to keep the Fifth World alive.</h2>
      <p>The people of the Fifth World know that they live in paradise, but if the <a href="/collapse">great tribulation</a> of their <a href="/ancestor">ancestors</a> taught them anything, it taught them that “paradise” does not describe a location, but a <em>relationship</em>. It means having a place in a more-than-human world. It means having a voice in the great community of life thriving all around you.</p>
      <p><a href="/about/facts/fact5" class="button">Read more</a></p>
    </section>
    <%- include('includes/session') %>
  </main>
  <%- include('includes/footer') %>
  </body>
</html>
