<!DOCTYPE html>
  <html lang="en">
  <%- include('../includes/head', { meta }) %>
  <body class="thefifthworld">
    <%- include('../includes/header', { member }) %>
    <main>
      <h1>500</h1>
    </main>
    <%- include('../includes/footer') %>
  </body>
</html>
